.home {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid #cf1d1d; */
    margin: 1px auto;
    padding: 0;
}

.home__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px auto 5px auto;
    padding: 5px;
}

.home__heroText_heading {
    font-size: 80px;
    font-weight: 1000;
    color: black;
    margin: 10px auto;
    padding: 15px 0;
}

.home__heroText_paragragh {
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin: 10px auto;
    padding: 0;
}

.home__heroBtns {
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home__heroBtns_btn {
    margin: 10px 30px 10px auto;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    text-decoration: none;
}

.blue_heading {
    color: blue;
    /* font-size: 30px;
    font-weight: 700; */
    margin: 10px auto;
    padding: 5px;
}

.home__heroImg {
    border-radius: 10px;
}

.hero_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 20px auto;
    padding: 5px; 
    text-align: left;
    /* border: 1px solid #cf1d1d; */
    padding: 10px;
    width: 100%;
}

.hero_2_child_1, .hero_2_child_2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    /* margin: 10px auto; */
    padding: 5px 20px;
    /* border: 1px solid #23cf1d; */
}

.hero_2_child_1 {
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.hero_2_child_2 {
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

#hero_2_child_2_section_2_body {
    flex-direction: column;
    padding: 5px;
}

.hero_2_child_2_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px auto;
    /* border: 1px solid #2f1dcf; */
    width: 100%;
    padding: 5px 0px;
}

.hero_2_child_2_inner div {
    margin: 10px auto;
    padding: 5px;
    /* border: 1px solid #1dcf61; */
    width: 100%;
}