.mainApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
  width: 70%;
  margin: 0px auto;
  border: 3px inset blue;
  border-radius: 5px;
  padding: 0;
}

/* .mainApp__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 0px;
  margin: 0px auto;
  border: 1px solid #cf1d9a;
} */

.mainApp__textBox {
    padding: 5px;
    border-radius: 5px;
    border: 1.9px solid blue;
    font-size: 18px;
    margin-bottom: 10px;
}

.mainApp__textBox:focus {
    outline: none;
    border: 3.5px solid blue;
    transition: 0.8s;
}
/* .qr-code {
    display: none;
} */

.mainApp__btn {
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: rgb(58, 58, 250);
}

.mainApp__btn:hover {
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(6, 6, 233);
  transition: 0.5s;
}